.login-container {
    width: 100%;
    display: flex;

    .carousel {
      width: 50%;
      .carousel-inner {
        height: 91vh;
        .bg-1{
          background-image: url('/assets/joy.png');
        }
        .bg-2{
          background-image: url('/assets/signin.png');
        }
        .carousel-item {
          background-size: cover;
          background-position: center;
          text-align: center;
          height: 100%;
          position: relative;
          .content{
            width: 50%;
            font-weight: 600;
            color: #fff;
            margin-bottom: 50px;
            position: absolute;
            bottom: 0;
            left: 25%;
            .heading{
              font-size: calc(1rem + .4vw);
              line-height: calc(1.5rem + .4vw);
            }
            .desc{
              font-size: calc(.77rem + .25vw);
              line-height: calc(1.25rem + .2vw);
            }
          }
        }
      }
  
      .carousel-control-prev,
      .carousel-control-next {
        filter: invert(100%);
      }
    }
  
    .form-container{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      form{
        width: 50%;
        .form-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                display: flex;
                align-items: center;
                background: transparent;
                gap: 1rem;
                text-decoration: none;
                outline: none;
                border: none;
                font-size: 1rem;
                color: #5f6368;
                font-weight: 600;
            }
            .logo{
                width: 33.33333333%;
            }
        }
        .text{
            text-align: center !important;
            padding-top: 3rem !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-top: 3rem !important;
            display: flex;
            justify-content: center;
            margin: auto;
            p{
                width: 83.33333333%;
                font-size: calc(.7rem + .2vw) !important;
    line-height: calc(1.2rem + .2vw) !important;
    color: #5f6368;
    font-weight: 500;
            }
        }
        .form-group {
          margin-top: 3rem;
          width: 75%;
          margin: auto;
        
          .input{
            display: flex;
            align-items: center;
            gap: 1rem;
            border-bottom: .063rem solid #d4d4d4;
          }
      
          input {
            width: 100%;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: .5rem;
            padding-right: .5rem;
            box-sizing: border-box;
            outline: none;
            border: 0  !important;
            &:focus {
                outline: none;
                box-shadow: none;
              }
          }
      
          .error {
            color: #ff5252;
            font-size: calc(.77rem + .25vw);
            line-height: calc(1.25rem + .2vw);
          }
        }
      }
    }
    .button {
      width: 100%;
      display: flex;
      justify-content: center;
      button{
        width: 58%;
        padding: 10px;
        margin-top: 4.5rem;
        background-color: #196aee;
        border: none;
        font-weight: 600;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
      }
    }
  }
  