<div class="login-container">
    <!-- Bootstrap Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
       <ol class="carousel-indicators">
         <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
         <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
       </ol>
       <div class="carousel-inner">
         <div class="carousel-item active bg-1">
           <div class="content">
             <p class="heading">Ignite Your Career: Explore, Apply, Succeed</p>
             <p class="desc">
               Log in to join our community and contribute to meaningful causes.
             </p>
           </div>
         </div>
         <div class="carousel-item bg-2">
           <div class="content">
             <p class="heading">Experience the joy & fulfillment of giving back</p>
             <p class="desc">Share the message and make a positive impact!</p>
           </div>
         </div>
       </div>
       <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
       </a>
       <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
       </a>
     </div>
     <div class="form-container">
       <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm" *ngIf="!showOtp">
        <div class="form-header">
            <a routerLink="/signin">
                <img src="/assets/gray_left.svg"/>
                Reset Password
            </a>
            <img class="logo" src="/assets/better-together.svg"/>
        </div>
        <div class="text">
            <p>Please provide the email address you used when you signed up for your account</p>
        </div>
         <div class="form-group">
            <div class="input">
                <img src="/assets/envelope.svg"/>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  required
                  [(ngModel)]="forgotPasswordData.email"
                  #email="ngModel"
                  class="form-control"
                />
            </div>
           <div *ngIf="email.invalid && email.touched" class="error">
             Please enter valid email-id
           </div>
         </div>
         <div class="button">
             <button type="submit">Submit</button>
         </div>
       </form>
        <form (ngSubmit)="onOtpSubmit(otpForm)" #otpForm="ngForm" *ngIf="showOtp">
         <div class="form-header">
             <a routerLink="/signin">
                 <img src="/assets/gray_left.svg"/>
                 Reset Password
             </a>
             <img class="logo" src="/assets/better-together.svg"/>
         </div>
         <div class="text">
            <p>Please enter your new password along with OTP that has been sent to your contact details</p>
        </div>
          <div class="form-group">
                 <input
                   type="password"
                   id="password"
                   name="email"
                   placeholder="Email"
                   required
                   [(ngModel)]="forgotPasswordData.email"
                   #email="ngModel"
                   class="form-control"
                 />
            <div *ngIf="email.invalid && email.touched" class="error">
              Please enter valid email-id
            </div>
          </div>
          <div class="button">
              <button type="submit">Submit</button>
          </div>
        </form>
      </div>
 </div>